body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/login/background.jpg');
}

a {
  color: #00B7FF;
}

a:hover {
  cursor: hand ;
}

/****** LOGIN *******/

#login_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

#form_main {
  background-color: rgba(60, 89, 107, 0.63);
  width: 40%;
  padding: 30px;
}

.username input,
.password input {
  width: 100%;
  height: 40px;
  border: 0px;
  margin: 5px 5px 15px;
  box-sizing: border-box;
  padding: 15px 15px;
}

input:focus,
button:focus {
  outline: none;
}

button {
  background: #63cdda;
  color: #fff;
  border: 0px;
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
}

.checkbox {
  color: #fff;
  padding-bottom: 10px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

p {
  text-align: center;
  color: #fff;
}

.label {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
}