extends layout
 
block content

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') >> Cursos de Formación
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/elearning') Elearning
        li.nav-item
          a.nav-link(href='idiomas') Idiomas             
        li.nav-item
          a.nav-link(href='oposiciones') Oposiciones
        li.nav-item.active
          a.nav-link(href='contacto') Contacto
        li.nav-item
          a.nav-link(href='login') Login
  main.container(role='main')
    .jumbotron
      h1 Contacto
 
    .container
 
    .row
      .col-md-12
        form(action='/contacto_realizado')
         .form-group
          label(for='nya')
           strong Nombres y Apellidos
          input#nya.form-control(type='text' aria-describedby='nyaHelp' placeholder='Introduce tus nombres y apellidos...', required)
 
         .form-group
          label(for='email')
           strong Email
          input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='Introduce tu email...', required)
 
          .form-group
          label(for='mensaje')
           strong Mensaje
          textarea#comment.form-control(rows='5', required, placeholder='Indícanos por aquí tus dudas y cuestiones...')
          br  
          button.btn.btn-primary(type='submit') Enviar
    hr

    footer
        .container
            div(align='center')
            | Desarrollado por 
            a(href='https://www.linkedin.com/in/franciscobenitezchico' target='_blank') Francisco Manuel Benítez Chico