extends layout
 
block content
 
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') >> Cursos de Formación
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/elearning') Elearning
        li.nav-item
          a.nav-link(href='idiomas') Idiomas             
        li.nav-item
          a.nav-link(href='oposiciones') Oposiciones
        li.nav-item
          a.nav-link(href='contacto') Contacto
        li.nav-item
          a.nav-link(href='login') Login
  main.container(role='main')
    .jumbotron
      h1 Cursos Elearning
 
    .container
 
    .row
      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/cursos/electricidad-y-electronica.jpeg' alt='Electricidad y electrónica')
        .card-body
         h5.card-title Electricidad y electrónica
         p.card-text
          | Aprenderás todo lo relativo al ensamblado de componentes, mantenimiento colectivo y prevención de riesgos y gestión medioambiental.
         br
         a.btn.btn-primary(href='/contacto') Ver más
 
 
      .col-md-4
        .card
          img.card-img-top.img-fluid(src='/images/cursos/energia-y-agua.jpeg' alt='Energía y agua')
        .card-body
         h5.card-title Energía y agua
         p.card-text
          | Conocerás las bases y aspectos legales en la gestión del agua, junto con eficiencia energética, electrotecnia, energía eólica, solar, etcétera.
         br
         a.btn.btn-primary(href='/contacto') Ver más
 
      .col-md-4
        .card
                  img.card-img-top.img-fluid(src='/images/cursos/fabricacion-mecanica.jpeg' alt='Fabricación mecánica')
        .card-body
         h5.card-title Fabricación mecánica
         p.card-text
          | Distinguirás sobre el control de la producción en la fabricación mecánica y almacenamiento mecánico. Además, verás diferentes técnicas de programación mecanizada.
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
                  img.card-img-top.img-fluid(src='/images/cursos/informatica_y_comunicaciones.jpeg' alt='Informática y comunicaciones')
        .card-body
         h5.card-title Informática y comunicaciones
         p.card-text
          | Obtén una visión global de los diferentes lenguajes de programación front-end y back-end del mercado como Java o C++ para desarrollar aplicaciones móviles.
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
                  img.card-img-top.img-fluid(src='/images/cursos/imagen_y_sonido.jpeg' alt='Imagen y sonido')
        .card-body
         h5.card-title Imagen y sonido
         p.card-text
          | Aprende a trabajar con PhotoShop CS6 para conseguir elementos interactivos y tratar técnicos para la edición de fuentes en productos audiovisuales.
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
                  img.card-img-top.img-fluid(src='/images/cursos/hosteleria_y_turismo.jpeg' alt='Hostelería y turismo')
        .card-body
         h5.card-title Hostelería y turismo
         p.card-text
          | Reconoce los conceptos de animación turística, conservación y regeneración de preparados de repostería, y a trabajar con sistemas informáticos en bar y cafetería.
         a.btn.btn-primary(href='/contacto') Ver más
    hr

    footer
        .container
            div(align='center')
            | Desarrollado por 
            a(href='https://www.linkedin.com/in/franciscobenitezchico' target='_blank') Francisco Manuel Benítez Chico