extends layout

block content
 
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') >> Cursos de Formación
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/elearning') Elearning
        li.nav-item.active
          a.nav-link(href='idiomas') Idiomas             
        li.nav-item
          a.nav-link(href='oposiciones') Oposiciones
        li.nav-item
          a.nav-link(href='contacto') Contacto
        li.nav-item
          a.nav-link(href='login') Login
  main.container(role='main')
    .jumbotron
      h1 Idiomas
    .container
    
    .row
      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/idiomas/ingles.jpeg' alt='Inglés')
        .card-body
         h5.card-title Inglés
         p.card-text
          | Tenemos disponibles diferentes niveles de certificación en A1, A2, B1, B2, C1 y C2 a través de Trinity College y British Council         br
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/idiomas/frances.png' alt='Francés')
        .card-body
         h5.card-title Francés
         p.card-text
          | Tenemos disponibles diferentes niveles de certificación en A1, A2, B1, B2, C1 y C2 a través de Trinity College y British Council
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/idiomas/italiano.png' alt='Italiano')
        .card-body
         h5.card-title Italiano
         p.card-text
          | Damos la posibilidad de incrementar tus conocimientos en italiano a través de la certificación CELI
         a.btn.btn-primary(href='/contacto') Ver más
    hr

    footer
        .container
            div(align='center')
            | Desarrollado por 
            a(href='https://www.linkedin.com/in/franciscobenitezchico' target='_blank') Francisco Manuel Benítez Chico