extends layout

block content
 
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') >> Cursos de Formación
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/elearning') Elearning
        li.nav-item.active
          a.nav-link(href='idiomas') Idiomas             
        li.nav-item
          a.nav-link(href='oposiciones') Oposiciones
        li.nav-item
          a.nav-link(href='contacto') Contacto
        li.nav-item
          a.nav-link(href='login') Login
  main.container(role='main')
    .jumbotron
      h1 Bienvenido :)