html
  head
    title Usuarios
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    #login_main
     form(id="form_main" action="/logged")
       div.label Acceso a la plataforma
       div.username
        input(type="text" required placeholder="Introduce tu usuario...")
       div.password
        input(type="password" required placeholder="Introduce tu contraseña...")
       div.checkbox
       button(type="submit") ¡Conecta!