extends layout

block content
 
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') >> Cursos de Formación
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/elearning') Elearning
        li.nav-item
          a.nav-link(href='idiomas') Idiomas             
        li.nav-item.active
          a.nav-link(href='oposiciones') Oposiciones
        li.nav-item.active
          a.nav-link(href='contacto') Contacto
        li.nav-item
          a.nav-link(href='login') Login
  main.container(role='main')
    .jumbotron
      h1 Oposiciones
    .container
    
    .row
      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/oposiciones/administracion_del_estado.jpeg' alt='Administración del Estado')
        .card-body
         h5.card-title Administración del Estado
         p.card-text
          | El futuro está en tu mano. El 97% de las preguntas del examen realizado en mayo de 2018 se encontraban en nuestro temario. No lo dudes, ¡contáctanos!
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/oposiciones/fuerzas_y_cuerpos_de_seguridad.jpg' alt='Fuerzas y Cuerpos de Seguridad')
        .card-body
         h5.card-title Fuerzas y Cuerpos de Seguridad
         p.card-text
          | ¡Una de estas plazas puede ser tuya! Cada año ofertan miles de plazas, por lo que no tardarás en convertirte en Policía Nacional o Guardia Civil, ¡siempre que trabajes duro!
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/oposiciones/instituciones_penitenciarias.jpeg' alt='Administración del Estado')
        .card-body
         h5.card-title Instituciones penitenciarias
         p.card-text
          | Abierto el plazo hasta el 9 de julio de 2021. Se han ofertado 141 plazas de empleo público con cargo a los procesos de estabilización del empleo temporal.
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/oposiciones/hacienda_publica.jpeg' alt='Hacienda Pública')
        .card-body
         h5.card-title Hacienda Pública
         p.card-text
          | La AEAT necesita de personal cualificado en todos sus niveles, convocando plazas con cualificación de especialización junto con las exigidas a los Cuerpos Generales.
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/oposiciones/justicia.jpeg' alt='Administración del Estado')
        .card-body
         h5.card-title Justicia
         p.card-text
          | ¡1.257 plazas para el Cuerpo de Auxilio Judicial! Todas las novedades son positivas y te aseguran la continuidad de plazas en las oposiciones de Auxilio Judicial.
         a.btn.btn-primary(href='/contacto') Ver más

      .col-md-4
        .card
         img.card-img-top.img-fluid(src='/images/oposiciones/sanidad.jpeg' alt='Administración del Estado')
        .card-body
         h5.card-title Sanidad
         p.card-text
          | Tras el ÉXITO de aprobados de FOREMPV en las pruebas realizadas en el 2018 con el 100% en la convocatoria de Celadores/as 2005, volvemos con NUEVOS GRUPOS.
         a.btn.btn-primary(href='/contacto') Ver más

    hr

    footer
        .container
            div(align='center')
            | Desarrollado por 
            a(href='https://www.linkedin.com/in/franciscobenitezchico' target='_blank') Francisco Manuel Benítez Chico